.footer {
  background-color: var(--roxo-principal);
  color: var(--branco);
  padding: 30px 20px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.copyright-text {
  margin: 0;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-links img {
  max-height: 50px;
  width: auto;
}

.X img{
  height: 60px;
}

.Insta img{
  height: 30px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
  }
  
  .copyright-text {
  text-align: center;
  }

  .social-links {
  display: flex;
  align-items: right;
  gap: 5px;
}
}